<script context="module">
  // svelte uses let for mutable page variables
</script>

<script>
  import config from '../config.json';
  import { onMount } from 'svelte';

  let articles = [];

  // get the list of articles when the component mounts
  onMount(async () => {
    const res = await fetch(`${config.api.url}/article/`);
    if (/^2/.test(res.status)) {
      articles = await res.json();
    } else throw new Error('Failed to fetch article list');
  });
</script>

<style>
  h3 {
    text-align: center;
    margin: 0 auto;
  }

  @media (min-width: 720px) {
    h3 {
      font-size: 3.5em;
    }

    img {
      width: 100%;
      max-width: 200px;
      margin-top: 6em;
    }
  }
  @media (max-width: 719px) {
    h3 {
      font-size: 2em;
    }

    img {
      width: 100%;
      max-width: 100px;
      margin-top: 6em;
    }
  }
</style>

<svelte:head>
  <title>Commentry Articles Site</title>
</svelte:head>

<div class="container d-flex flex-column">
  <div>
    <h3 class="">Commentry Articles</h3>
  </div>

  <div class="d-flex flex-row justify-content-around mt-4 ">

    {#each articles as article}
      <div class="">
        <a href={`/view/?article=${article.id}`}>{article.title}</a>
      </div>
    {/each}

  </div>
  <div class="d-flex justify-content-center mt-4 ">
    <img alt="phraseable logo" src="logo.png" />
  </div>

</div>
