<script>
  import marked from 'marked';
  import Select from 'svelte-select';

  import config from '../config.json';

  const errors = [];
  const log = console.log;

  // svelte leans on "let" to make its invalidations work
  let articleTitle = '';
  let message = '';
  let categories = [];
  let updateTimeout;
  let allowedCategories = [
    { value: 'Art', label: 'Art' },
    { value: 'Entertainment', label: 'Entertainment' },
    { value: 'Tech', label: 'Tech' }
  ];
  let markdown = `### Tootsie roll soufflé croissant tootsie \n\n\nRoll donut halvah danish. Chocolate cake tiramisu biscuit powder icing candy canes marshmallow. Oat cake gummi bears topping cotton candy candy sweet cake lemon drops chocolate cake. Cupcake dragée muffin. \n\n- Cupcake \n- cake \n- cupcake toffee \n\nSweet tiramisu ice cream. Tiramisu croissant marzipan bear claw pudding tootsie roll. Muffin chupa chups chocolate bar toffee. Sesame snaps dessert chocolate bar. Muffin candy canes jujubes carrot cake toffee gummies danish caramels brownie.`;

  async function handleSubmit(event) {
    message = '';
    clearTimeout(updateTimeout);
    if (checkData()) {
      const formData = {
        title: articleTitle,
        categories: categories.map(x => x.value),
        body: markdown
      };
      console.log('submit', formData);
      updateTimeout = setTimeout(() => (message = ''), 5000);
      try {
        const res = await fetch(`${config.api.url}/article/new`, {
          body: JSON.stringify(formData),
          method: 'POST',
          mode: 'cors'
        });
        log('Fetch complete:', res);
        if (/^2/.test(res.status)) {
          const { id, time } = await res.json();
          message = `Saved new article ID ${id} @ ${time}`;
        } else throw new Error('Incorrect status code returned from endpoint');
      } catch (error) {
        log(error);
        errors.length = 0;
        errors.push('Sorry, something went wrong when saving. Please try again.');
      }
    }
  }

  const checkData = () => {
    errors.length = 0;
    if (!articleTitle) errors.push('missing title');
    if (!categories.length > 0) errors.push('missing categories');
    if (!markdown) errors.push('article has no body');
    return errors.length === 0;
  };
</script>

<style>
  textarea {
    width: 100%;
    height: 37vh;
  }
  div.output {
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 0.5em;
  }

  .glow {
    background-color: #f9d77e;
    padding: 2px;
    border-radius: 0.2em;
  }

  input.title {
    width: 100%;
    margin-bottom: 0.6em;
  }
  div.message {
    margin: 0.8em 0 0.8em 0;
    font-size: 0.7em;
  }
  div.error {
    margin: 0.8em 0 0.8em 0;
    font-size: 0.7em;
    background-color: rgb(255, 125, 125);
    color: white;
    padding: 0 0.8em 0 0.8em;
  }
  div.errors {
    font-size: 0.7em;
    padding: 0.8em 0 0.8em 0;
  }
  button {
    margin-top: 1em;
  }
  p.note {
    font-size: 0.7em;
  }
</style>

<svelte:head>
  <title>Create a new article</title>
</svelte:head>

<h2>Create a new article</h2>

<form on:submit|preventDefault={handleSubmit}>

  <input
    class="title"
    type="text"
    bind:value={articleTitle}
    placeholder="Please add an article title..."
    name="title" />

  <!-- https://github.com/sveltejs/v2.svelte.dev/tree/master/content/examples/binding-textarea  -->
  <p class="note">(Note: you can use Markdown in this editor)</p>
  <textarea bind:value={markdown} resize="none" />

  <p>Categories</p>
  <Select class="custom-select" bind:selectedValue={categories} items={allowedCategories} isMulti />
  <div />
  <button class="btn btn-success" type="submit">Save</button>
</form>

{#if message}
  <div class={`message ${message ? ' glow' : ''}`}>{message}</div>
{/if}

{#if errors.length > 0}
  <!-- if a debugger is attached a breakpoint will be hit whenever errors changes -->
  {@debug errors}
  <div class="error">Save failed: {errors.filter(Boolean).join(', ')}.</div>
{/if}

<hr />
<h2>Preview</h2>

<div class="output">
  {@html marked(markdown)}
</div>
