<script>
  let article = { title: 'Article Preview' };
  import marked from 'marked';
  import config from '../config.json';
  import { onMount } from 'svelte';
  const apiUrl = config.api.url;

  onMount(async () => {
    try {
      let articleId = 'Ikqx519ISE';
      if (window.location.search) articleId = window.location.search.split('=')[1];

      const res = await fetch(`${apiUrl}/article/${articleId}`);

      if (/^2/.test(res.status)) {
        const r = await res.json();
        console.log(r);
        article = r;
      } else {
        throw new Error(`Failed to retrieve article ${res.status}`);
      }
    } catch (error) {
      throw error;
    }
  });
</script>

<style>
  div.body {
    border: 2px green solid;
    border-radius: 0.5em;
  }
  div.body h1 {
    font-weight: bold;
  }
</style>

<svelte:head>
  <title>{article.title || 'Article Preview'}</title>
</svelte:head>

{#if article && article.body}
  <h5>
    ID
    <small class="text-muted">{article.id}</small>
  </h5>
  <h5>
    Last edit
    <small class="text-muted">{article.timestamp}</small>
  </h5>
  <h5>
    Categories
    <small class="text-muted">{article.categories.join(' - ')}</small>
  </h5>

  <div class="body mt-4 p-3">
    <h1>{article.title}</h1>
    <hr />
    {@html marked(article.body)}
  </div>
{/if}
